/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
  color: aliceblue;
}
.contactInfo{
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 3vw;
  padding: 1vw;
}
#topBar{
  font-family: Dialog,monospace;
  text-align: center;
  font-size: 7vw;
  padding: 1vw;
  padding-bottom: 2vw;
}
@media screen and (min-width: 1600px) {
  #mainContainer {
    display: flex;
    width: 100vw;
    height: 88vh;
  }
  #topBar{
    font-family: Dialog,monospace;
    text-align: center;
    font-size: 2vw;
    padding: 1vw;
    padding-bottom: 2vw;
  }
  #image {
    flex: 1;
    background-position: left top;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: -10;
  }

  #navigation {
    z-index: 10;
    padding: 2vw;
    width: 40%;
  }
  h1{
    font-family: "Roboto Light", monospace;
    font-size: 3em;
  }
  h2{
    font-family: "Roboto Light", monospace;
    font-size: 2em;
  }
  .hackingAnim{
    width: fit-content;
    margin: 2vw;

  }

}

@media screen and (max-width: 1600px) and (min-width: 350px) {
  #mainContainer {
    display: flex;
    width: 100vw;
    height: 90vh;
  }
  #topBar{
    font-family: Dialog,monospace;
    text-align: center;
    font-size: 4vw;
    padding: 1vw;
    padding-bottom: 2vw;
  }
  #image {
    background-position: left top;
    background-origin: content-box;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
    width: 60%;
    height: 90vh;
    z-index: -10;
  }

  #navigation {
    z-index: 10;
    padding: 2vw;
    width: 40%;
  }
  h1{
    font-family: "Roboto Light", monospace;
    font-size: 3em;
  }
  h2{
    font-family: "Roboto Light", monospace;
    font-size: 2em;
  }
  .hackingAnim{
    margin: 2vw;
    width: fit-content;
  }

}
@media screen and (max-width: 650px) and (min-width: 350px) {
  h1{
    font-family: "Roboto Light", monospace;
    font-size: 2em;
  }
  h2{
    font-family: "Roboto Light", monospace;
    font-size: 1em;
  }
}
@media screen and (max-width:350px){

  #topBar{
    font-family: Dialog,monospace;
    text-align: center;
    font-size: 17vw;
    padding: 1vw;
    padding-bottom: 2vw;
  }
  #mainContainer{
    /*display: flex;*/
    width: 100vw;
    height: 90vh;
  }
  #image {
    background-position: left top;
    background-origin: content-box;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
    width: 60%;
    height: 90vh;
    z-index: -10;
  }
  #navigation{
    padding: 2vw;
    width: 40%;
  }
  h1{
    font-family: "Roboto Light", monospace;
    font-size: 1em;
  }
  h2{
    font-family: "Roboto Light", monospace;
    font-size: 0.5em;
  }
  .hackingAnim{
    width: fit-content;
    margin: 2vw;

  }


}

.hackingAnim{
  width: fit-content;
  margin: 2vw;

}

body{
  background-color: #222222;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
